html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(../img/mybg.png) #fff;
    position: relative
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(../img/mybg.png) #fff;
    direction: ltr
}

aside {
    display: block;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
    background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
    min-height: 100%
}

#header {
    display: block;
    height: 49px;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    position: relative;
    z-index: 905
}

#header>div {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    float: left
}

#header>div.open {
    font-weight: 700
}


#header>:first-child,
aside {
    width: 220px
}

#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 49px
}

#main {
    margin-left: 220px;
    padding: 0;
    padding-bottom: 52px;
    min-height: 500px;
    position: relative
}

#ribbon {
    min-height: 40px;
    background: #474544;
    padding: 0 13px;
    position: relative
}

#ribbon .breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0!important;
    background: 0 0;
    vertical-align: top
}

#ribbon .breadcrumb,
#ribbon .breadcrumb a {
    color: #BBB!important;
    text-decoration: none!Important
}

#ribbon .breadcrumb li:last-child,
#ribbon .breadcrumb>.active {
    color: #E4E4E4
}

form {
    overflow: hidden;
}

.flabel {
    float: left;
    width: 200px;
    padding-right: 24px;
}

input[type=text], input[type=email], input[type=password] {
    float: right;
    width: calc(100% - 200px);
}

button {
    float: left;
}

nav ul li a {
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 11px;
    color: #c0bbb7;
    display: block;
    font-weight: 400;
    text-decoration: none!important;
    position: relative
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 33%;
	border: 1px solid gray;
}

th, td {
	border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding: 10px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

em {
    font-weight: bold;
    color: red;
}

.login-info {
    display: block;
    font-size: 12px;
    height: 39px;
    color: #fff;
    border: solid transparent;
    border-width: 1px 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #525151
}

.center {
	text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
p.ex1 {
    padding: 10px;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;
  position: relative;
  left: calc(50%);
  
  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
      float: left;
    width: calc(30%);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }

.err{
	color: red;
}